@charset "UTF-8";
/* Carga de la font Galada */
@import url("https://fonts.googleapis.com/css?family=Galada");
/* Colores */
/* line 14, ../sass/mycss.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/mycss.scss */
body {
  font-family: "Galada";
  font-size: 22px;
}

/* line 24, ../sass/mycss.scss */
.container {
  width: 600px;
  margin: 25px auto;
}

/* line 29, ../sass/mycss.scss */
form {
  padding: 20px;
  background: grey;
  color: yellow;
  border-radius: 4px;
  /*redondea las esquinas del form*/
}
/* line 35, ../sass/mycss.scss */
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
/* line 43, ../sass/mycss.scss */
form input {
  height: 25px;
  line-height: 25px;
  /* ver clase button */
  background: blue;
  color: white;
  padding: 0 6px;
  box-sizing: border-box;
  /* el box lo hace algo m├ís corto*/
}
/* line 51, ../sass/mycss.scss */
form button {
  height: 30px;
  width: 200px;
  line-height: 30px;
  /* baja el texto a partir del valor de height -> valores inferiores a height no tienen efecto */
  margin-left: auto;
  /* estos margin ponen el button */
  margin-right: auto;
  /* centrado */
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background: green;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
/* line 65, ../sass/mycss.scss */
form .error {
  color: pink;
}
