/* Carga de la font Galada */
@import url("https://fonts.googleapis.com/css?family=Galada");

/* Colores */
$formBackg: grey; 
$formColor: yellow; 
$inputBackg: blue; 
$inputColor: white; 
$buttonBackg: green; 
$buttonColor: white; 
$buttonBorder: black;
$errorMsgColor: pink; 

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Galada";
  font-size: 22px;
}

.container {
  width: 600px;
  margin: 25px auto;
}

form {
  padding: 20px;
  background: $formBackg;
  color: $formColor;
  border-radius: 4px;  /*redondea las esquinas del form*/

  label,
  input,
  button {
    border: 0;
    margin-bottom: 3px;
    display: block;
    width: 100%;
  }
  input {
    height: 25px;
    line-height: 25px;  /* ver clase button */
    background: $inputBackg;
    color: $inputColor;
    padding: 0 6px;
    box-sizing: border-box; /* el box lo hace algo más corto*/
  }
  button {
    height: 30px;
    width: 200px;
    line-height: 30px;  /* baja el texto a partir del valor de height -> valores inferiores a height no tienen efecto */
    margin-left: auto;  /* estos margin ponen el button */
    margin-right: auto; /* centrado */
    border-color: $buttonBorder;
    border-width: 2px;
    border-style: solid;
    background: $buttonBackg;
    color: $buttonColor;
    margin-top: 10px;
    cursor: pointer;
  }
  .error {
    color: $errorMsgColor;
  }
}