<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JavierSese - Class projects</title>
	 <link rel="stylesheet" type="text/css" href="/stylesheets/mycss.css">
</head>

<body>
	<header></header>
	<main>
		<!-- Esquina superior izquierda -->
		{{> triangulo1 }}
		{{> titulo1 }}
		<!--{{> boton1 }} -->
		{{> parrafo1 }} 


		<!-- Esquina inferior derecha -->
		{{> triangulo2 }} 
		{{> titulo2 }}
		<!-- {> boton2 }} -->
		{{> parrafo2 }}		

	</main>
	<footer></footer>
	
</body>
<script src="app.js" type="text/javascript"></script>
</html>