<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proyecto 0718</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
	<style>
body, html {
    height: 100%;
}

/*
El "truco" consiste en fijar las imagenes que se van a usar en el parallax.
esto se consigue con el atributo background-attachment con el valor fixed.
Para hacer esto se crea una clase para cada una de las imagenes que va a usarse. Por tanto, cuatro clases.
En dichas clases se especifica la imagen, el heigh a 100% para indicar que se ocupe toda la pantalla,
el ya mencionado background-attachment a fixed, background-position a center para que la imagen salga centrada (probablemente al poner heigh a 100% no haria falta). El background-repeat a no-repeat para que no repìta la imagen en caso de ser mas pequeña que la pantalla (no haria falta tampoco). Y background-size a cover para indicar que cubra toda la pantalla.
En el body se pone un div para cada una delas 4 clases. Los divs estan vacios ya que la imagen correspondiente ya la visualiza la clase.
*/

.parallax {
    /* The image used */
    background-image: url('spring.jpeg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('summer.jpeg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('autumn.jpeg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url('winter.jpeg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#inner {
   width: 5em;
   height: 5em;
   background-color: transparent;
   position: fixed;
   top: 1em;
   left: 1em;
}

h1 {
	color: red;
	margin-left:400px;
	margin-top:300px;
	text-align:center;
}
</style>
</head> 
<body>

<!--
  Aqui se visualiza el texto que se va a desordenar.
  El identificador app-5 identifica el div que tiene que tratar la funcion js.
  Inner es el identificador que identifica donde esta el mustache a ser sustituido. En nuestro caso
  {{message}}
  Con el tag button se crea el boton que realizara el efecto. Se indica que cuando se haga click se ejecute
  la funcion reserseMessage, definida como un método en el script js.
-->

<div id="app-5">
  <div id="inner">
	  <h1 style="color:red;text-align:center;font: bold 500% sans-serif" >{{ message }}</h1>
	  <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
</div>


<div class="parallax"></div>
<div class="parallax2"></div>
<div class="parallax3"></div>
<div class="parallax4"></div>

<script type="text/javascript">
var inner = new Vue({
  el: '#app-5',
  data: {
    message: 'WAMOS!!!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})
</script>


</body>
</html>