/* line 1, ../sass/mycss.scss */
.triangulo1 {
  background: grey;
  width: 100%;
  height: 90vh;
  content: "";
  clip-path: polygon(0 0, 0% 100%, 80% 0);
  position: absolute;
  z-index: -1;
}

/* line 11, ../sass/mycss.scss */
.titulo1 {
  color: black;
  z-index: 1;
}

/* line 16, ../sass/mycss.scss */
.titulo2 {
  position: absolute;
  right: 200px;
  bottom: 200px;
  color: blue;
  z-index: 1;
}

/* line 24, ../sass/mycss.scss */
.parrafo1 {
  color: black;
  z-index: 2;
}

/* line 29, ../sass/mycss.scss */
.parrafo2 {
  position: absolute;
  right: 200px;
  bottom: 150px;
  color: blue;
  z-index: 1;
}

/* line 38, ../sass/mycss.scss */
.triangulo2 {
  background: linear-gradient(yellow, red);
  position: absolute;
  width: 99%;
  height: 88vh;
  content: "";
  clip-path: polygon(100% 0, 20% 100%, 100% 100%);
  z-index: -2;
}
