<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<style type="text/css">
		.b1 { width: 200px; height: 200px; }
		.b2 { width: 300px; height: 300px; }
		.b3 { width: 400px; height: 400px; }
		.rojo { background: red; }
		.azul { background: blue; }
		.verde { background: green; }
	</style>

</head>
<body>

<div id="app">
    <button @click="cambiarColor">Cambiar color</button>
    <div :class="claseBloque"></div>
</div>

<div id="app2">
    <button @click="cambiarEstado">Mostrar/Ocultar</button>
    <h1 v-if="mostrar"> Hola </h1>
</div>

<div id="app3">
    <button @click="sumarUno">+1</button>
    <h1 v-if="numero === 1"> Uno </h1>
    <h1 v-else-if="numero === 2"> Dos </h1>
    <h1 v-else-if="numero === 3"> Tres </h1>
    <h1 v-else> No 1, 2 o 3 :( </h1>
</div>


<script type="text/javascript">

		new Vue({
		    el: '#app3',
		    data: {
		        numero: 1
		    },
		    methods: {
		        sumarUno: function() {
		            this.numero++;
		            if (this.numero > 4) {
		            	this.numero = 1;
		            }
		        }
		    }
		})


		new Vue({
		    el: '#app',
		    data: {
		        color: 'rojo',
		        b: 1
		    },
		    computed: {
		         claseBloque: function() {
		             return 'b' + this.b + ' ' + this.color;
		         }
		    },
		    methods: {
		        cambiarColor: function() {
		            if (this.color === 'rojo') {
		                this.color = 'azul';
		                this.b = 2;
		            } else if (this.color === 'azul') {
		            	this.color = 'verde';
		            	this.b = 3;
		            } else {
		                this.color = 'rojo';
		                this.b = 1;
		            }
		        }
		    }
		})

		new Vue({
		    el: '#app2',
		    data: {
		        mostrar: true
		    },
		    methods: {
		        cambiarEstado: function() {
		            this.mostrar = !this.mostrar;
		        }
		    }
		})		


</script>

</body>
</html>